<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>



<div class="container mt-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Login</h1>
        </div>
    </div>

    <div class="card mb-3">
        <form method="post" th:action="@{/imports}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">User</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="User">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

</body>
</html>