<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/imports}">Imports</a>
                <a class="nav-item nav-link active" th:href="@{/users}">Users</a>
                <a class="nav-item nav-link" onclick="logout.submit()" href="#">Logout</a>
                <form id="logout" method="post" th:action="@{/logout}" enctype="multipart/form-data"></form>
            </div>
        </div>
    </nav>

</head>

<body>

<section>
    <div class="container">
        <div class="jumbotron mt-1"><h2 class="display-4">User Registration</h2></div>
            <div class="card mt-1">
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-danger"></p>
                <form th:object="${newUserDTO}" class="card-body" method="post" th:action="@{/users/create}" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">Username:</label>
<!--                        <div class="col-sm-6">-->
                            <input th:field="*{username}" class="form-control" type="text" placeholder="E-mail" th:errorclass="is-invalid">
<!--                        </div>-->
                        <div class="invalid-feedback" th:errors="*{username}"></div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
<!--                        <div class="col-sm-6">-->
                            <input th:field="*{name}" class="form-control" type="text" placeholder="Name" th:errorclass="is-invalid">
<!--                        </div>-->
                        <div class="invalid-feedback" th:errors="*{name}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </form>
    </div>
</section>

</body>
</html>